p {
    margin: 0;
  }
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .App-header {
    background-color: white;
    height: 6vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(2px + 2vmin);
    color: white;
  }
  
  .App-feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2vw;
    width: 60vw;
  }
  
  .App-Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
  }
  
  .Logo {
    width: 50px;
    height: 40px;
  }

  .Navbar {
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 30vw;
  }

  .Navbar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: black;
    font-weight: bold;
    background-color: white;
    border: none;
  }
  
  .Add-ons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2vw;
  }
  
  .User {
    width: 10vw;
    height: 4vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .Avatar {
    width: 40px;
    height: 40px;
  }
  
  .Avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .User-name {
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-left: 1vw;
  }
  
  .Addons-feature {
    width: 8vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .Feature {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Addons-icon {
    color: black;
  }
  
  .Cover {
    height: 60vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Cover-img {
    height: 40vh;
    width: 50vw;
  }
  
  .App-body {
    display: flex;
    flex-direction: column;
  }
  
  .Body-wrapper {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
  }

  .Link {
    color: black;
    text-decoration: none !important;
  }

  .News-wrapper {
      width: 90vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 2vh;
      padding-bottom: 2vh;
      background-color: whitesmoke;
  }

  .News {
      width: 60vw;
      height: 12vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-left: 2vw;
      padding-right: 2vw;
      background-color: white;
      margin-top: 1vh;
      margin-bottom: 1vh;
      box-shadow: 8px 8px 5px grey;
  }

  .News-tag {
      width: 10vh;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: red;
  }

  .News-icon {
    width: 6vh;
    height: 6vh;
    color: white;
  }

  .News-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .News-restaurant {
    display: flex;
    width: 50vw;
    font-weight: bold;
    color: black    ;
    align-items: flex-start;
    font-size: 20px;
  }

  .News-title {
    display: flex;
    width: 50vw;
    font-weight: bold;
    color: blue;
    align-items: flex-start;
    font-size: 18px;
  }

  .News-title, .News-description {
    display: flex;
    width: 50vw;
    align-items: flex-start;
  }

  .News-duration {
    display: flex;
    width: 50vw;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .News-duration-content {
    display: flex;
    width: 14vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-style: italic;
  }
  
  